body {
    font-family: 'Kumbh Sans', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

img {
    width: 10cm;
}

.main {
    display: flex;
}

li {
    padding-bottom: 1em;
    display: block;
}
